/*Main*/
body {
    background-color: #eee; 
    box-sizing: content-box;
}

/*Navigation Bar*/
.menu {
    position: fixed;
    height: 100vh;
    background: rgb(248, 0, 0);
    width: 10vw;
    box-shadow: 1px, 0, 2px, rgba(rgb(255, 255, 255));
    transition: 1s;
}

:hover {
    width: 40vw;
}

:hover ~ .container {
    transform: perspective(80vw) rotateY(10deg) translateX(35vw) scaleY(1.2)
}

:hover nav {
    left: 20%;
}

.container{
	width: 90%;
	margin-left: 10vw;
	background: #FDFDFD;
	transition: 1s;
	transform-origin: left center;
	color: #D2D2D0;
}

.content{
		padding: 100px 20%;
}

nav {
	position: absolute;
	margin-top: 50%;
	left: -1000px;
	transition: .5s;
}

ul {
    color: rgb(0, 0, 0);
	text-transform: uppercase;
	list-style-type: none;
}

li{
    line-height: 2em;
	letter-spacing: .3em;
}

a {
    font-size: 30px;
	text-decoration: none;
    color: white;
    font-weight: 600;
}

:hover {color: #eee;
}

/*Paragraphs*/

p {
    line-height: 1.5em;
}