/*Main*/
body {
    background-color: #eee; 
    box-sizing: content-box;
}

/*Navigation Bar*/
.menu {
    position: fixed;
    height: 150vh;
    background: rgb(248, 0, 0);
    width: 10vw;
    box-shadow: 1px, 0, 2px, rgba(rgb(54, 54, 54));
    transition: 0.5s;
}

:hover {
    width: 20vw;
}

:hover~.container {
    transform: perspective(70vw) rotateY(5deg) translateX(30vw) scaleY(1.2)
}

:hover nav {
    left: 10%;
}

.container{
	width: 100%;
	margin-left: 10vw;
	background: #fbfbfb;
	transition: 1s;
	transform-origin: left center;
	color: #565656;
}

.content{
		padding: 100px 15%;
}

nav {
	position: absolute;
	margin-top: 50%;
	left: -1000px;
	transition: 1s;
}

ul {
    color: rgb(0, 0, 0);
	text-transform: uppercase;
	list-style-type: none;
}

li{
    line-height: 5em;
	letter-spacing: .2em;
}

a {
    font-size: 30px;
	text-decoration: none;
    color: black;
    font-weight: 600;
}

:hover {color: rgb(255, 255, 255);
}

/*Paragraphs*/

p {
    line-height: 1.5em;
}